.collections {
  display: flex;
  width: 100%;
  max-width: 1260px;
  margin: 16px auto 0;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  cursor: pointer;
}

.collectionImage {
  width: 120px;
  height: 120px;
}

.collectionImage > img {
  width: 100%;
  max-height: 100%;
  display: inline-block;
}

.collectionName {
  background: #333;
  color: #fff;
  padding: 4px;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 8px auto;
}

.list {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 210px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.roller {
  width: 30000px;
  max-width: 30000px;
  height: 100%;
  background: #191726;
  margin-left: 0;
  transition: all 8s cubic-bezier(0.08, 0.6, 0, 1);
  padding-top: 8px;
  padding-bottom: 8px;
}

.holder:before {
  content: "";
  position: absolute;
  border: none;
  z-index: 10;
  width: 4px;
  height: 100%;
  left: 50%;
  background: var(--mythical);
}

.pokemon {
  position: relative;
  display: inline-block;
  background-color: #eef;
}

.image {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.image img {
  filter: drop-shadow(rgb(136, 136, 136) 0px 2px 4px);
}

.text {
  font-weight: 600;
  font-size: 12px;
  padding: 4px;
  color: #fff;
}

.common {
  background-color: var(--common);
}

.rare {
  background-color: var(--rare);
}

.extraordinary {
  background-color: var(--extraordinary);
}

.mythical {
  background-color: var(--mythical);
}

.legendary {
  background-color: var(--legendary);
}

.mega {
  background-color: var(--mega);
}

.default {
  background-color: white;
}
